form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
}

.title-container {
    text-align: center;
    margin-top: 150px;
}

.subtitle-container {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.form-group {
    margin: 50px;
    margin-left: 200px;
    margin-bottom: 10px;
    width: 350px;
}

.btn-primary {
    margin-left: 295px;
    width: 150px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .form-container {
        align-items: start;
        padding: 20px;
    }

    .form-group, .btn-primary {
        margin: 20px 0;
    }
}