* {
    box-sizing: border-box;
}

.nav {
    background: #4056A1;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
    padding:10px 0;
    color:white;
}
.nav a {
    text-decoration: none;
    color:white;
}
.navUpper {
    display: flex;
    justify-content: space-between;
}
.navUpperLeft {
    display:flex;
    justify-content: left;
    gap:10px;
}
.navContent {
    display:flex;
    justify-content: space-between;
}
.accountContainer {
    display:flex;
    justify-content: space-between;
    gap:30px;
}
.technoChel {
    display:flex;
    gap:30px;
    padding: 10px 0 0 0;
}
.mainPageLink {
    display: flex;
    font-weight:bold;
    align-items: center;
    justify-content: center;
    background-color: #17E9E0;
    border-radius: 30px 0 0 30px;
    width: 180px;
    height: 50px; 
}
.mainPageLink:hover {
    background-color: #19f8ed;
    transition:0.5;
}
.catalogPageLink {
    display: flex;
    align-items: center;
    font-weight:bold;
    justify-content: center;
    background-color: #17E9E0;
    border-radius: 0 30px 30px 0;
    width: 130px;
    height: 50px; 
}
.catalogPageLink:hover {
    background-color: #19f8ed;
    transition:0.5;
}
.Search {
    padding-top:15px;
}
.cart {
    display:flex;
    flex-direction:column;
}
.cart a:hover {
    text-decoration: underline;
}
.searchform {
    height:40px;
}
.account {
    display:flex;
    flex-direction:column;
}
.account a:hover {
    text-decoration: underline;
}
.navbutton {
    max-width:60px;
    display:none;
}
.navmobile {
    display:flex;
    flex-direction:column;
    border-bottom: solid 1px grey;
    z-index:1000 !important;
}
.navmobileHidden {
    display:none;
}
.mobileNavContainer {
    padding:30px 0;
    display:none;
    z-index:1000 !important;
}

.mobileNavLink {
    width:100%;
    background-color: white;
    color:black !important;
    text-align: center;
    text-decoration: none !important;
    z-index:1000 !important;
}
.mobileNavContainer:hover {
    background-color: #eee;
    .mobileNavLink {
        background-color: #eee;
    }
  }
@media screen and (max-width: 768px) {
    .technoChel {
        display:none;
    }
    .column1Container {
        display:none;
    }
    .accountContainer {
        display:none;
    }
    .navbutton {
        display:block;
    }
    .Navmobile {
        display:block;
    }
    .mobileNavContainer {
        display:flex;
        justify-content: center;
    }
  }